*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 768px){
    html{
        background-image: url(../image/main-background.png);
        background-size: 100%;
    }
    .main-div{
        width: 100%;
        height: 100%;
    }
    .main-greeting{
        width: auto;
        height: auto;
        text-align: center;
        margin-top: 20%;
    }
    .main-title{
        color: #ffffff;
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: normal;
    }
    .main-title-h2{
        font-size: 30px;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        text-align: center;
    }
}
@media screen and (max-width: 768px) { 
    *{
        margin: 0;
        padding: 0;
    }
    li{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(../image/mobile-background.png);
        background-size: 100%;
    }
    .main-greeting{
        color: #ffffff;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        margin-top: 60%;
    }
}
