*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 768px){
    body{
        background-image: url(../image/team-background.png);
        background-size: cover;
    }
    .team-introduction{
        text-align: center  ;
        width: auto;
        height: auto;
        color: #ffffff;
        margin-left: 12.7%;
        margin-top: 2%;
        float: left;
    }
    .team-title{
        text-align: left;
        color: #ffffff;
        font-size: 30px;
        font-weight: normal;
    }
    .team-content{
        color: #ffffff;
        font-size: 20px;
        font-weight: normal;
        text-align: left;
    }
    .tema-profile{
        width: auto;
        height: auto;
        text-align: left;
        margin-left: 12.7%;
        margin-top: 20px;
    }
    .team-profile-title{
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        text-align: left;
    }
    .profile{
        width: 370px;
        height: 430px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        float: left;
        vertical-align: initial;
        border: 0;
        box-sizing: border-box;
        float: left;
    }
    .profile-image{
        text-align: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .profile-content{
        text-align: center;
    }
    .name{
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: normal;
    }
    .team{
        color: #ffffff;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    .profile-info{
        font-size: 18px;
        font-weight: normal;
        margin-top: 5px;
        color: #ffffff;
    }
    .profile-right{
        float: right;
        text-align: center;
    }
} 
/* mobile */
@media (max-width: 768px){
    body{
        background-image: url(../image/team-mobile-background.png);
        background-size: 105%;
    }
    .main-div{
        width: 100%;
        height: 100%;
        text-align: left;
    }
    .team-introduction{
        width: auto;
        height: auto;
        text-align: left;
        padding-top: 20px;
        float: left;
    }
    .team-title{
        text-align: left;
        font-size: 28px;
        font-style: normal;
        font-weight: normal; 
        color: #ffffff;  
    }
    .team-content{
        text-align: left;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
    }
    .team-profile{
        width: auto;
        height: auto;
        text-align: left;
        float: left;
    }
    .team-profile-title{
        text-align: left;
        font-size: 28px;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
    }
    .profile{
        width: 350px;
        height: 430px;
        text-align: center;
    }
    .profile-image{
        width:250px;
        height: 250px;
        border: 0;
        border-radius: 50%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .name{
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        font-weight: normal;
    }
    .team{
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: normal;
    }
    .profile-info{
        text-align: center;
        color: #ffffff;
    }
}