<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>NetChoice</title>
    <link rel="stylesheet" type="text/css" href="../css/font.css">
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../css/service.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta property="og:image" content="../image/logo.png"/> 
    <meta property="og:url" content="https://net-choice.github.io/introduction-site/"/>
    <meta property="og:description" content="중세 시대의 마인크래프트 서버"/> 
    <meta property="og:title" content="NetChoice"/>
</head>
<body>
    <div class="main-div">
        <ul>
            <li class="main"><a class="active" href="../index.html">NetChoice</a></li>
            <li><a href="../components/team.html">Team</a></li>
            <li><a href="../components/services.html">Services</a></li>
            <li style="float: right;"><a href="">Sing UP</a></li>
        </ul>
        <div class="button-div">
            <h1 class="button-title">무슨 서비스가 필요하세요?
                <br>
                서비스를 통해서 저희 서버를 만나보세요!
            </h1>
            <div class="cover-button">
                <div class="main-button-div">
                    <h3 class="button-info">중세 시대를 느낄 수 있는 서버
                        <br>
                        NetChoice에서 서버 베타 서비스에 
                        <br>
                        참여 해 보세요!</h3>
                    <button class="button"><a class="button-link">서버 베타 서비스</a></button>
                </div>
            </div>
            <div class="cover-button">
                <div class="main-button-div">
                    <h3 class="button-info">아직 오픈되진 않았지만 
                        <br>
                        빠르게 만나보고 싶으시다면
                        <br>
                        서버 사전등록 서비스에 참여 해 보세요!</h3>
                    <button class="button"><a class="button-link">서버 사전등록 서비스</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>