<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>NetChoice</title>
    <link rel="stylesheet" type="text/css" href="../css/font.css">
    <link rel="stylesheet" type="text/css" href="../css/nav.css">
    <link rel="stylesheet" type="text/css" href="../css/team.css">
</head>
<body>
<div class="main-div">
    <ul>
        <li class="main"><a class="active" href="../index.html">NetChoice</a></li>
        <li><a href="../components/team.html">Team</a></li>
        <li><a href="../components/services.html">Services</a></li>
        <li style="float: right;"><a href="">Sing UP</a></li>
    </ul>
    <div class="team-introduction">
        <h1 class="team-title">팀 소개</h1>
        <p class="team-content">NetChoice은 마인크래프트 서버를 운영과 기획을 하고 있습니다.
            <br>
            현실에서 할 수 없는 건축을 NetChoice 마인크래프트 서버에서는 건축을 하실 수 있으십니다.
            <br>
            아름다운 중세시대의 건축물의 있는 NetChoice의 서버를 찾아 주시면 대단히 감사하겠습니다.
            <br>
            현실에서는 하지 못한 건축과 RP를 NetChoice 서버에서 도전해 보세요.
        </p>
        <br>
        <div class="team-profile">
            <h1 class="team-profile-title">팀원 소개</h1>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/Kim Yoon-sung.jpg" alt="profile_image-00">
                <h3 class="name">김윤성</h3>
                <p class="team">공동 대표</p>
                <p class="profile-info">
                    <br>
                    <br>
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/lee roo.png" alt="profile_image-01">
                <h3 class="name">이로</h3>
                <p class="team">공동 대표</p>
                <p class="profile-info">공동대표 이로입니다

                    <br>
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/Lee Kyung Ha.jpeg" alt="profile_image-02">
                <h3 class="name">이경하</h3>
                <p class="team">개발팀</p>
                <p class="profile-info">뷁
                    <br>
                    <br>
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/Park Hyun Sang.jpeg" alt="profile_image-03">
                <h3 class="name">박현상</h3>
                <p class="team">개발팀 | 웹 프론트엔드 개발자</p>
                <p class="profile-info">유저분들이 사용하시는 웹 서비스를 제작하고
                    <br>
                    있는 개발자 박현상입니다.
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/Kim Chil-pan.png" alt="profile_image-04">
                <h3 class="name">김칠판</h3>
                <p class="team">개발팀</p>
                <p class="profile-info">2020년에 군대갈 여친있는 닝겐입니다.
                    <br>
                    (느그들은 여친읎지?)
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/Green.png" alt="profile_image-05">
                <h3 class="name">그린</h3>
                <p class="team">서버관리 및 서버 제공</p>
                <p class="profile-info">서버의 심장!
                    <br>
                    서버관리 및 서버제공을 하고 있는 그린입니다.
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/profile-image/AR82.png" alt="profile_image-06">
                <h3 class="name">AR82</h3>
                <p class="team">건축팀</p>
                <p class="profile-info">
                    <br>
                    <br>
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/main-background.png" alt="profile_image-07">
                <h3 class="name">박현상</h3>
                <p class="team">개발팀 | 웹 프론트엔드 개발자</p>
                <p class="profile-info">유저분들이 사용하시는 웹 서비스를 제작하고
                    <br>
                    있는 개발자 박현상입니다.
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/main-background.png" alt="profile_image-08">
                <h3 class="name">박현상</h3>
                <p class="team">개발팀 | 웹 프론트엔드 개발자</p>
                <p class="profile-info">유저분들이 사용하시는 웹 서비스를 제작하고
                    <br>
                    있는 개발자 박현상입니다.
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/main-background.png" alt="profile_image-09">
                <h3 class="name">박현상</h3>
                <p class="team">개발팀 | 웹 프론트엔드 개발자</p>
                <p class="profile-info">유저분들이 사용하시는 웹 서비스를 제작하고
                    <br>
                    있는 개발자 박현상입니다.
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/main-background.png" alt="profile_image-10">
                <h3 class="name">박현상</h3>
                <p class="team">개발팀 | 웹 프론트엔드 개발자</p>
                <p class="profile-info">유저분들이 사용하시는 웹 서비스를 제작하고
                    <br>
                    있는 개발자 박현상입니다.
                </p>
            </div>
            <div class="profile">
                <img class="profile-image" src="../image/main-background.png" alt="profile_image-11">
                <h3 class="name">박현상</h3>
                <p class="team">개발팀 | 웹 프론트엔드 개발자</p>
                <p class="profile-info">유저분들이 사용하시는 웹 서비스를 제작하고
                    <br>
                    있는 개발자 박현상입니다.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>