<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>NetChoice</title>
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/guide.css">
    <link rel="stylesheet" href="../../css/plus.css">
</head>
<body>
    <div class="main-div">
        <div class="nav-div">
            <nav class="nav">
                <ul class="ul">
                    <li class="title">
                        <a class="link" href="/index.html">NetChoice</a>
                    </li>
                    <li class="li-item">
                        <a class="link-item" href="./guide.html">가이드</a>
                    </li>
                    <li class="li-item">
                        <a class="link-item" href="#">월드 보기</a>
                    </li>
                    <li class="li-item">
                        <a class="link-item" href="#">공식 포럼</a>
                    </li>
                    <li class="li-item">
                        <a class="link-item" href="#">사전예약</a>
                    </li>
                    <li class="li-item li-last">
                        <a class="link-item" href="./login.html">로그인</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="giude">
            <div class="giude-item">
                <h1 class="item-title">서버 가이드</h1>
                <p class="item-info">블록에서 세계로, NetChoice에 오신 유저분들 안녕하세요.
                    <br/>
                    Netchoice 서버에서 플레이를 하실 때 가이드를 읽어 보시면 도움이 되세요.
                </p>
            </div>
        </div>
    </div>
</body>
</html>